html {
  background: var(--bg-primary-light);
  overflow-x: hidden;
}

html.dark {
  background: var(--bg-primary-dark);
  color-scheme: dark;
}

::selection {
  background: #d6d3d186;
  color: #44403c;
}

.dark ::selection {
  background: #44403c6d;
  color: #d6d3d1;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
