:root {
  --accent-light: #fe5f55;
  --accent-dark: #D6FB03;
}

html {
  overflow-x: hidden;
  --accent: var(--accent-light);
}

html.dark {
  color-scheme: dark;
  --accent: var(--accent-dark);
}

::selection {
  background: #d6d3d186;
  color: #44403c;
}

.dark ::selection {
  background: #44403c6d;
  color: #d6d3d1;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}